
<!--navbar-->
<app-indexnavbar style="padding-bottom: 1px;"></app-indexnavbar>


<div class="container" style="padding-top: 80px;">
  <h1 class="text-center mb-4">Our Gadget Brands </h1>

  <div class="row brand-container">
    <div class="col-md-2 offset-md-1">
    <a href="hp.html"> <img  src="assets/hplogo.png"   alt="HP" class="brand-logo"></a>
    </div>
    <div class="col-md-2">
      <img src="assets/lenovoLogo.png" alt="Lenovo" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/asusLogo.png" alt="Asus" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/appleLogo.svg" alt="Apple" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/dellLogo.png" alt="Dell" class="brand-logo">
    </div>
  </div>

  <div class="row brand-container">
    <div class="col-md-2 offset-md-3">
      <img src="assets/acerLogo.png" alt="Acer" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/msiLogo1.jpg" alt="MSI" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/razerLogo.jpg" alt="Razer" class="brand-logo">
    </div>
  </div>

</div>

<!--Footer-->
<app-indexfooter></app-indexfooter>
